
<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand">{{pageTitle}}</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav me-auto">

        <li routerLinkActive="active"  class="nav-item">
          <a   class="nav-link"   routerLink='/welcome'>Home</a>
        </li>

        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
          <a  class="nav-link" routerLink='/products'>Product List</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
          <a  class="nav-link" [routerLink]="['/products', 0, 'edit']">Add Product</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="isLoggedIn" class="nav-item" >
          <a routerLink='/login' class="nav-link">Welcome {{ userName }}</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink='/login'>Log In</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item" >
          <a (click)="logOut()" style="cursor: pointer"  class="nav-link">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
